{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<section class="about">
  <div class="about-img">
<img class="mypicture" src="{% static 'images/myca.png' %}">
</div>

  <div class="about-content">
    <h2 class="heading">About<span> me</h2>
    <h1>Hello, I am <span>Myca Baculo</span> <br>I'm 22 years old <br>I live in City Of Las Pinas<br>
      My hobbies is Dancing and Watching random videos <br> My motto in life is "The more that you read,
      the more things you will know, the more that you learn, the more places you’ll go.”</h1>
  </div>
</section>
{% endblock content %}
