{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<section class="center">
   <div class="center-content">
      <h3>Hi I'm Myca Baculo</h3>
   <h1>BSIT Student in <span>Cavite State University</h1>
     <div class="img-box">
          <img class="mypicture" src="{% static 'images/myca.png' %}">
     </div>
       <p>"Life is a journey of constant growth. Embrace challenges, for they build strength.
           Be kind, stay humble, and never stop learning. Success comes not from perfection, but from persistence and the courage to continue."</p>
</div>
</section>
{% endblock content %}
